<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,402},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,402},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,402},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C004.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,402},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C005.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,402},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C006.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,402},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C007.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,402},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C008.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,402},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C009.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,402},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C010.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,402},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C011.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,402},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C012.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,402},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,329},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,302},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,302},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,302},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C018.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,302},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C019.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,302},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C020.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,302},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C021.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,302},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C022.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,302},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C023.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,302},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C024.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,302},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C025.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,302},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C026.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,302},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,220},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,202},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,202},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,202},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C032.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,202},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C033.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,202},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C034.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,202},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C035.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,202},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C036.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,202},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C037.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,202},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C038.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,202},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C039.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,202},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C040.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,202},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,111},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,102},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,102},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,102},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C046.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,102},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C047.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,102},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C048.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,102},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C049.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,102},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C050.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,102},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C051.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,102},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C052.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,102},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C053.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,102},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C054.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,102},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C055.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C056.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,2},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C057.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,2},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C058.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,2},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,2},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C060.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,2},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C061.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,2},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C062.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,2},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C063.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C064.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,2},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C065.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C066.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C067.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C068.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>C069.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,107}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,107}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>color.pvr.ccz</string>
            <key>size</key>
            <string>{1519,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:986d6adee5cc7762d8a97bb4c39f3368:1/1$</string>
            <key>textureFileName</key>
            <string>color.pvr.ccz</string>
        </dict>
    </dict>
</plist>
